<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <div>
            <button class="task-button" onclick="showForm()">+ Add task</button>
        </div>

        <ul class="todo-list">
            {% for todo in todos %}
            <li class="todo-item" data-id="{{ todo.id }}" data-title="{{ todo.title }}" data-body="{{ todo.body }}">
                <form action="/delete_task/{{ todo.id }}" method="post" class="deleteForm">
                    <input type="checkbox" class="done deleteCheckbox" onchange="this.form.submit()">
                </form>
                <h2 class="todo-title">{{ todo.title }}</h2>
                <div class="buttons">
                    <button class="edit-button" onclick="showEdit(this)">Edit</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="task-form" id="taskForm">
        <h3>Create new task</h3>
        <form action="/add" method="post">
            <label for="taskTitle">Task title</label>
            <input type="text" id="taskTitle" name="title" placeholder="Title">

            <label for="taskBody">Description</label>
            <input type="text" id="taskBody" placeholder="Tasks description" name="body">
            <input class="sendButton" type="submit" value="Add new task">
        </form>
        <button onclick="hideForm()">Cancel</button>
    </div>

    <div class="task-form" id="taskEdit">
        <h3>Muuda ülesanne</h3>
        <form id="editForm" action="/edit" method="post">
            <input type="hidden" id="editTaskId" name="id">

            <label for="taskTitleEdit">Pealkiri</label>
            <input type="text" id="taskTitleEdit" name="title" placeholder="Ülesande pealkiri">

            <label for="taskBodyEdit">Kirjeldus</label>
            <input type="text" id="taskBodyEdit" placeholder="Kirjeldus" name="body">

            <input class="sendButton" type="submit" value="Muuda yl">
        </form>
        <button onclick="hideEdit()">Tühista</button>
    </div>

    <script src="../static/js/scripts.js"></script>
</body>
</html>
